<h1>Editing calendar tracking</h1>

<%= render "form", calendar_tracking: @calendar_tracking %>

<br>

<div>
  <%= link_to "Show this calendar tracking", @calendar_tracking %> |
  <%= link_to "Back to calendar trackings", calendar_trackings_path %>
</div>
